button, input, textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ant-layout-sider-trigger{
 
  background-color:#2fa49f !important;
}


.ant-layout-sider{
  /* width: 400px; */
  background-color:#2fa49f !important;
}
.ant-layout-sider-dark{
  background-color:#2fa49f !important;
}
.ant-layout-sider-has-trigger{
  background-color:#2fa49f !important;
}
.ant-menu{
  background-color:#2fa49f !important;
}

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;

}